@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.Discovery {
    width: 100%;
    height: 18.64vw;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.DiscoveryContainer {
    display: flex;
    justify-content: space-between;
    width: 70vw;
}

.DiscoveryLeft {
    display: flex;
    flex-direction: column;
    gap: .572vw;
}

.DiscoveryTitle p {
    font-size: 1.45vw;
    color: #FF6400;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.DiscoveryHref {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
}

.DiscoveryHref a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    font-size: 1vw;
    color: #3E3E3E;
}

.DiscoveryHref a img {
    width: .83vw;
    height: .83vw;
}

.DiscoveryHref a button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1vw;
    color: #3E3E3E;
}

.DiscoverySwiper {
    width: 55vw;
    height: 100%;
    display: flex;
}

.DiscoverySliderImgBox {
    width: 15.625vw;
    height: 15.625vw;
    text-align: center;
    font-size: 1vw;
    background: #fff;
    border-radius: 1vw;
    overflow: hidden;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.DiscoverySliderImgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

 

@media screen and (max-width: 768px) {
    .Discovery {
        height: auto;
    }
    .DiscoveryContainer {
        width: 90%;
        height: auto;
        gap: 20px;
        flex-direction: column;
    }
    .DiscoverySwiper {
        width: 100%;
    }
    .DiscoverySliderImgBox {
        width: 100%;
        height: 80vw;
        border-radius: 5vw;
    }
    .DiscoveryTitle p {
        font-size: 8vw;
    }

    .DiscoveryHref a{
        display: flex;
        gap: 1vw; 
        font-size: 5vw;
    }
 
    .DiscoveryHref a img {
        width: 4vw;
        height: auto;
    }
}