body,html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.AppContainer {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Burger {
  display: none;
}

@media (max-width:768px) {
  .Burger {
      display: flex; 
      position: relative;
      z-index: 2;
  }
  .Routes {
      margin-top: 20vw;
  }
   
}

