@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.Markaz {
    margin-top: 6.5vw;
    width: 100%;
    height: auto;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 1.56vw;
    margin-bottom: 28.16vw;
}

.MarkazContainer {
    width: 70vw;
}

.MarkazTitle {
    padding-top: 1vw;
    display: flex;
    flex-direction: column;
    gap: .5vw;
}

.MarkazTitle h4{
    color: #3E3E3E;
    font-weight: 600;
    font-size: 1.36vw;
    padding: 0;
    margin: 0;
}

.MarkazTitle p{
    color: #3E3E3E;
    font-weight: 500;
    font-size: 1vw;
    padding: 0;
    margin: 0;
}

@media screen and (max-width:768px) {
    .MarkazContainer {
        width: 90vw;
    }
    .MarkazTitle p {
        font-size: 3vw;
    }
    .MarkazTitle strong {
        font-size: 4.5vw;
    }
    .MarkazTitle h4 {
        font-size: 4.5vw;
    }
}